<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>

<div class="well">
  <div class="panel panel-default products">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Number of Products</th>
          <td>
            <%= @products.length %> 
          </td>
        </tr>
        <tr>
          <th scope="col">Number of Categories</th>
          <td>
          <%= @categories.length %> 
        </td>
        </tr>
      </thead>
    </table>
  </div>
</div>

<%= link_to "To Admin Products Index", admin_products_path(@products), class: 'btn btn-info' %>

